{% extends 'base.html' %}

{% block conteudo %}   <!-- O método POST coleta os dados e direciona para um caminho -->
<h1 data-shadow='CADASTRO'>CADASTRO</h1>

  <form action="/cadastrarUsuario" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" id="nome" /><br><br>

    <label>CPF:</label>
    <input type="text" name="cpf" id="cpf" /><br><br>

    <label>Telefone:</label>
    <input type="text" name="telefone" id="telefone" /><br><br>

    <label>Endereço:</label>
    <input type="text" name="endereco" id="endereco" /><br><br>

    <label>Email:</label>
    <input type="text" name="email" id="email" /><br><br>

    <button>Cadastrar</button>

  </form>
<!-- O formulário só tem um botão e só tem uma action, caso precise de mais, precisa criar outro form -->
<br><br>

  <a href="/listar">Consultar tudo</a> <br><br>
  <a href="/listarIndividual">Consultar individual</a><br><br>
  <a href="/atualizar">Atualizar</a><br><br>
  <a href="/excluir">Excluir</a><br><br>

{% endblock %}